@use "base/mixins" as m;
@use "base/variables" as v;

.nav-principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  @include m.tablet {
    flex-direction: row;
    margin-top: 0;
  }

  a {
    color: v.$blanco;
    text-align: center;
    font-size: 2rem;
    transition: all 0.3s ease;
    padding: 1rem;
    @include m.tablet {
      &:hover,
      &.activo {
        color: v.$secundario;
        transform: translateY(-1rem);
      }
    }
  }
}
